@page "/rol/index"
@inject HttpClient Http
@using SeguridadWeb.EntidadesDeNegocio
@if (roles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rol in roles)
            {
                <tr>
                    <td>@rol.Id</td>
                    <td>@rol.Nombre</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private Rol[]? roles;

    protected override async Task OnInitializedAsync()
    {
        // https://localhost:44370/api/Rol
        roles = await Http.GetFromJsonAsync<Rol[]>("Rol");
    }

}
